html, body{
	overflow-x: hidden;
	height: 100%;
  background: #efefef;
}
#app .contenido{
  background: url('http://www.unitecnologica.edu.co/sites/web.unitecnologica.edu.co/files/img-2076_0.jpg');
    background-repeat: repeat;
    background-size: auto auto;
background-repeat: repeat;
background-size: cover;
/*background-position: center bottom;*/
/*background-position: center 93px;*/
background-repeat: no-repeat;
}
.box{
  -webkit-box-shadow: 0px 0px 5px 0px lightgray;
  -moz-box-shadow: 0px 0px 5px 0px lightgray;
  -o-box-shadow: 0px 0px 5px 0px lightgray;
  box-shadow: 0px 0px 5px 0px lightgray;
}
#app .contenido .bgh{
  background-color: rgba(50, 50, 50, 0.5);
border-top: 2px solid #64c542;
}
.text-azul{
  color: #04235c !important;
}
.text-azul-cielo{
  color: #43c5c6 !important;
}
.slick-next::before, .slick-prev::before {
  color: #57c200 !important;
}
.text-dorado{
	color: #d1a96d;
}
.redes20{
  font-size: 20px;
}
.redes50{
  font-size: 30px !important;
  margin: 0px 4px;
}
.navbar-light{
	background-color: white !important;
  border-bottom: 2px solid #64c542;
}
.navbar-light li a{
  font-size: 1em;
}
/*.nav-item:hover{
  back
}*/
.logo{
	max-width: 320px;
}
.bg-verde{
  background: #eaeaeacc !important;
}
/*.bg-verde{
  background: #64c542 !important;
}*/
.text-verde{
  color: #64c542 !important;
}
.bg-azul{
  background: rgb(248, 248, 248) !important;
}
.bg-success{
  background-color: #57c200 !important;
}
.bg-info{
  background-color: #122b59 !important;
}
.btn-success{
 background: #8dba23 !important;

border: 1px solid #8dba23 !important;
}
.nuestros-programas{
  background: url('http://www.unitecnologica.edu.co/sites/web.unitecnologica.edu.co/files/img-2076_0.jpg');
  background-repeat: no-repeat;
  background-position: 0px -70px;
}
.clearfix.bg-overlay {
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  padding: 30px 30px 0;
}
.titles{
  position: absolute;

bottom: 0;

margin: 0 auto;

left: 0;

right: 0;

background: #151212b3;
}
.copyright{
  background-color: #04235c !important;
}
#social-fb{
  color: #3B5998 !important;
}
#social-tw{
  color: #4099FF !important;
}
#social-you{
  color: #CB181E !important;
}
#social-gp{
  color: #d34836 !important;
}
#social-ins{
  color: #C63091 !important;
}
#social-em{
  color: #f39c12 !important;
}
li.active a{
	/*border-bottom: 2px dashed #17a2b8;*/
}
.text-black{
  font-family: 'renner-black';
}
.text-bold{
  font-family: 'Arial';
}
.text-regular{
  font-family: 'Arial';
}
.text-light{
  font-family: 'renner-light';
}
.text-book{
  font-family: 'renner-book';
}
.text-regular-o{
  font-family: 'OpenSans-Regular';
}
.text-light-o{
  font-family: 'OpenSans-Light';
}
.text-bold-o{
  font-family: 'OpenSans-Bold';
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

.dropdown-menu {
  left: auto !important;
  top: auto !important;
  padding: 0 !important;
}
/* rotate caret on hover */

::-webkit-input-placeholder {
   color: #5a5a5a !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5a5a5a !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5a5a5a !important; 
}

:-ms-input-placeholder {  
   color: #5a5a5a !important; 
}
