/*! Fuente web Roboto */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

.Titulo_UTB{
    margin-top:-10px;
    padding-top:-10px;
}
.Titulo_UTB h1 {
    font-size:1.4em;
}
.Titulo_UTB h2 {
    font-size:1.1em;
}
.Titulo_UTB h3 {
    font-size:1.2em;
}
.menu {
    padding-left: 2px;
}

.menu a  {
    list-style-type: none;
}

/*! Margen y padding para imágenes u objetos */
.margen-s {
    margin:5px;
}

.margen-m {
    margin:10px;
}

.margen-x {
    margin:15px;
}

.margen-x img, .margen-x img, .margen-s img {
    margin:inherit;
}

.padding-s {
    padding:5px;
}

.padding-m {
    padding:10px;
}

.padding-x {
    padding:15px;
}

.padding-x img, .padding-x img, .padding-s img {
    padding:inherit;
}

/*! CSS para Timeline */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 44%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -40px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #113501 !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}



/*! CSS para el hero-widget */

.hero-widget { text-align: center; padding-top: 5px; padding-bottom: 5px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 5px; text-align: center; }
.hero-widget var { display: block; height: 2em; font-size: 2em; line-height: 2em; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 5px; }


/*! CSS para los jumbos */
.jumbo-default {background-color: #f9f9f9 !important;}
.jumbo-primary {background-color: #055200 !important;color:#fff;}
.jumbo-success {background-color: #acd0bc !important;}
.jumbo-warning {background-color: #fef2a3 !important;color:#8e7d0b;}
.jumbo-danger {background-color: #d00000 !important;color:#f0f0f0;}
.jumbo-info {background-color: #080374 !important;color:#f0f0f0;}
.jumbo-muted{background-color: #a3a3a3 !important; color:#f0f0f0;}

.jumbo-inverted{background-color: #000000 !important;color:#fff;}

.jumbo-manga{background: #f5f5f5 url(../img/manga.jpg) 0 0 repeat-x;color:#333;background-size:cover; }
.jumbo-manga-inv{background: #191919 url(../img/manga-inv.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}
.jumbo-ternera{background: #f5f5f5 url(../img/ternera.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-ternera-inv{background: #191919 url(../img/ternera-inv.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}

.jumbo-numeros {background: #f5f5f5 url(../img/numeros.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-naciones {background: #f5f5f5 url(../img/naciones.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-equipos {background: #f5f5f5 url(../img/equipos.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-estudiantes {background: #f5f5f5 url(../img/estudiantes.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-profesores {background: #f5f5f5 url(../img/profesores.jpg) 0 0 repeat-x;color:#333; background-size:cover;}
.jumbo-grados {background: #191919 url(../img/grados.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}
.jumbo-gallery {background: #dadada url(../img/utb-gallery.jpg) 0 0 repeat-x;color:#000;background-size:cover;}





/*! CSS para evento */

.fecha{
    margin-left: 5px;
}
.fecha h3 {
    font-size: 1.5em;
}

/*! CSS para marcos simples */

.well-default {
    min-height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*! CSS para opacidades */

.opaco {
    background: rgba(0,0,0,.5);  
    min-height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #333;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.mini-opaco {
    background: rgba(0,0,0,.5);  
    min-height: 5px;
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid #333;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.mini-opaco > p , .mini-opaco > h1, .mini-opaco > h2, .mini-opaco > h3, .mini-opaco > h4, .mini-opaco > h5, .mini-opaco > h6 {
    color:#fff;
}

.opaco > p , .opaco > h1, .opaco > h2, .opaco > h3, .opaco > h4, .opaco > h5, .opaco > h6 {
    color:#fff;
}

.transparente {
    background: rgba(0,0,0,.1);  
    min-height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #888;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.transparente > p , .transparente > h1, .transparente > h2, .transparente > h3, .transparente > h4, .transparente > h5, .transparente > h6 {
    color:#000;
}

/* Clases para complemento de bootstrap - Texto */
.bg-brand {
    background-color: #303990 !important;color:#fff;
}

.text-brand {
    color: #303990;
}
a.text-brand:hover {
    color: #0c124a;
}

.panel-brand {
    border-color: #0c124a !important; 
}
.panel-brand  a:hover{
    color:#cecece;
}
.panel-brand > .panel-heading {
    color: #ffffff;
    background-color: #303990;
    border-color: #303990;
}
.panel-brand > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #0c124a;
}
.panel-brand > .panel-heading .badge {
    color: #f9f9f9;
    background-color: #222222;
}
.panel-brand > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #0c124a;
}

.panel-brand >  .panel-body {
    border-color: #303990!important; 
}

.bg-brand2 {
    background-color: #0b5c65 !important;color:#fff;
}

.text-brand2 {
    color: #0b5c65;
}
a.text-brand2:hover {
    color: #1297a7;
}

.panel-brand2 {
    border-color: #0b5c65;
}
.panel-brand2  a:hover{
    color:#cecece;
}
.panel-brand2 > .panel-heading {
    color: #ffffff;
    background-color: #0b5c65;
    border-color: #0b5c65;
}
.panel-brand2 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #1c4f55;
}
.panel-brand2 > .panel-heading .badge {
    color: #f9f9f9;
    background-color: #222222;
}
.panel-brand2 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #1c4f55;
}

.panel-brand3 {
    border-color: #0c124a !important; 
}
.panel-brand3  a:hover{
    color:#cecece;
}
.panel-brand3 > .panel-heading {
    color: #ffffff;
    background-color: #194169;
    border-color: #194169;
}
.panel-brand3 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #0c124a;
}
.panel-brand3 > .panel-heading .badge {
    color: #f9f9f9;
    background-color: #222222;
}
.panel-brand3 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #0c124a;
}

.panel-brand3 >  .panel-body {
    border-color: #194169!important; 
}


/*! CSS para marcos con sombra */


.caja-sombra {
    background: #fff;
    margin:5px 0px 15px 0px;
    border:1px solid #ddd;
}

.caja-sombra:after,
.caja-sombra:before {
    top: 80%;
    left: 5px;
    width: 50%;
    z-index: -1;
    content: "";
    bottom: 15px;
    max-width: 300px;
    background: #999;
    position: absolute;	
}

/*Efecto 1*/
.efecto-sombra-1 {
    box-shadow: 0 10px 6px -6px #bbb;
    -moz-box-shadow: 0 10px 6px -6px #bbb;
    -webkit-box-shadow: 0 10px 6px -6px #bbb;
}

/*Efecto 2,3,4*/
.efecto-sombra-2 {
    position: relative;
}

.efecto-sombra-2:after,
.efecto-sombra-2:before,
.efecto-sombra-3:before,
.efecto-sombra-4:after {
    transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    box-shadow: 0 15px 10px #999;
    -moz-box-shadow: 0 15px 10px #999;
    -webkit-box-shadow: 0 15px 10px #999;
}

.efecto-sombra-2:after,
.efecto-sombra-4:after {
    left: auto;
    right: 5px;
    transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}


/*Líneas de caja de sombras*/
.linea-caja-top {
    border-top: solid 2px #055200;
}

.linea-caja-left {
    border-left: solid 2px #055200;
}

.linea-caja-bottom {
    border-bottom: solid 2px #055200;

}

.linea-caja-right {
    border-right: solid 2px #055200;
}


.caja-utb{
    -moz-border-radius-topleft:0px;
    -moz-border-radius-topright:20px;
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:0px;

    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:0px;

    border:1px solid #333;
    width:100%;

}

.galeria {
    margin:0px;
    padding:0px;
}
.galeria > img,
.galeria a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-margen {
    margin:0px;
}
.no-margen-left {
    margin-left:0px;
}
.no-margen-right {
    margin-right:0px;
}
.no-margen-top {
    margin-top:0px;
}
.no-margen-bottom {
    margin-bottom:0px;
}

.testimonios > img {
    height: auto;
    width: auto;    
}

.inverse .navbar-nav>li>a:hover, .inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #055200;
}


.inverse{
    background-color: #000000;
    color: #fff;
}

.inverse .navbar-nav>li>a, .inverse .navbar-nav>li>a {
    color: #fff;
}

.captions-galeria{
    padding-top: 0px;
    bottom: auto;
    top: 75%;
    position: absolute;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    width: 100%;
    height: auto;
}


.controls {
    left: 50%;
    position: absolute;
}

.indicators{  
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #055200;
    border-radius: 10px

}

.indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff;
}


/* Counters e indicadores */

.contador-item{max-width:360px;margin:5px auto}
.contador-porcentaje {display:inline-block;margin-left:2px;font-size:25px}


.contador-1{margin:5px 0}
.contador-1 i{display:block;margin-bottom:20px;font-size:25px}
.contador-1 span{display:block;margin-bottom:20px;font-size:25px}
.contador-1 hr{width:35px;margin:5px auto;border-width:3px;border-bottom:0;border-left:0;border-right:0}

.contador-2{padding:10px 0}
.contador-2 .num-container{width:120px;height:120px;line-height:120px;margin:0 auto 20px;font-size:40px;color:#555;background:#fff;border-radius:50%;}
.contador-2 .contador-item:hover .num-container{box-shadow:0 0 0 10px rgba(0,0,0,.15)}


.contador-3{margin:5px 0}
.contador-3 .num-container{font-size:90px;line-height:90px;font-weight:600}


.contador-4{margin:5px 0}
.contador-4 i{width:75px;height:75px;line-height:73px;font-size:35px;text-align:center;border-radius:50%;float:left;border:1px solid #f3f3f3}
.contador-4 span{width:75px;height:75px;line-height:73px;font-size:35px;text-align:center;border-radius:50%;float:left;border:1px solid #f3f3f3}
.contador-4 h4,.contador-4 p{margin-left:80px}
.contador-4 h4{position:relative;margin-top:0;margin-bottom:0;font-size:40px;line-height:50px}
.contador-4 h4 small{display:inline-block;margin-left:3px;font-size:18px;font-weight:600;text-transform:uppercase;color:#bbb}

.servicio {
    overflow: hidden;
    position: relative;
}

.servicio-bg {
    background-color: rgba(255,255,255,0.1);
    width: 250px;
    padding: 60px;
    position: absolute;
    top: -10px;
    right: -100px;
    transform: rotate(55deg);   
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
}


/* Ejercicio con botones 3D */

.btn-brand {
    background-color: #303990 !important;
    border-color: #18482d !important;
    color: #fff !important;
}

.btn-brand:over {
    background-color:#262D73  !important;
    border-color: #18482d !important;
    color: #fff !important;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default3d {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary3d {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
.btn-success3d {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
.btn-info3d {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning3d {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger3d {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}

.block-aggregator > ul > li{
    list-style:none; 
}
.more-link > a{
    background-image: linear-gradient(to bottom, #2a7d4e 0, #1b4f31 100%);
    background-repeat: repeat-x;
    border-color: #18482d;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: #fff;
    background-color: #2a7d4e;
}
.more-link {
    margin-top: 0;
    margin-bottom: 8.5px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
    display:block;content:" ";
    float:right;width:0;height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    /*    margin-top:5px;margin-right:-10px;*/
}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.navbar-default .navbar-nav>li>a.active{    
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
}
.dropdown-menu>li>a.active{
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
}

.badge-primary {
    background-color: #2a7d4e !important;
}

.badge-default {
    background-color: #777 !important;
}

.badge-brand {
    background-color: #303990 !important;
}

.badge-danger {
    background-color: #9D1D16 !important;
}

.badge-warning {
    background-color: #C29B1C !important;
}

