html, body {
    font-size: 13px;
    color: #3e3d3d !important;
}
p {
    font-size: 1rem;
    line-height: 1.8;
}

h1.block-title{
    font-size: 2.1rem;
    margin: 1.1rem 0 1.68rem;
}

.dropdown-menu li>a, .dropdown-menu li>span {
    font-size: 1rem !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #C9E3D2 !important;
}

/* Row with equal height columns */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
    text-transform: none;
}

.social-utb-front{
    padding: 5px;
}

.testimonial-card .card-content {
    color: #3e3d3d !important;
}

/* Campaña Mercadeo Colores */

.mer-cep {
    background-color: #009E84;
}
.text-mer-cep {
    color: #009E84;
}

.mer-pos{
    background-color: #2B3988;
}
.text-mer-pos{
    background-color: #2B3988;
}

.mer-pre {
    background-color: #89C542;
}
.text-mer-pre {
    color: #89C542;
}

.mer-vir {
    background-color:#0C124A;
}
.text-mer-vir {
    color:#0C124A;
}

.mer-inst {
    background-color: #487B52;
}
.text-mer-inst {
    color: #487B52;
}

.mer-inst-light {
    background-color: #E8F1E2;
}
.text-mer-inst-light {
    color: #E8F1E2;
}

.mer-inst-apple-color {
    background-color: #9DBC56;
}
.text-inst-apple-color {
    color: #9DBC56;
}

.btn{
    white-space: normal !important;
    word-wrap: break-word;
    text-transform: none !important;
}

/* Institucionales - Colores - Comunicaciones */
.text-white{
    color: #ffffff;
}

a.text-white:hover{
    color: #ffffff;
}

.inst-strong{
    background-color: #318055;
}
.text-inst-strong{
    color: #318055;
}

.inst-medium{
    background-color: #8FBFA8;
}
.text-inst-medium{
    color: #8FBFA8;
}

.inst-light{
    background-color: #C9E3D2;
}
.text-inst-light{
    color: #C9E3D2;
}

.inst-blue{
    background-color: #52658C;
}
.text-inst-blue{
    color: #52658C;
}

.inst-black{
    background-color: #2F3031;
}
.text-inst-black{
    color: #2F3031;
}

/* REDES SOCIALES Institucionales - Colores */

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social-fb {
    color: #3B5998;
}
#social-tw {
    color: #4099FF;
}
#social-gp {
    color: #d34836;
}
#social-em {
    color: #f39c12;
}
#social-you{
    color: #CB181E;
}
#social-ins{
    color: #C63091;
}
#social-mon{
    color: #005fa1;
}


/*! Margen y padding para imágenes u objetos */
.margen-s {
    margin:5px;
}

.margen-m {
    margin:10px;
}

.margen-x {
    margin:15px;
}

.margen-x img, .margen-x img, .margen-s img {
    margin:inherit;
}

.padding-s {
    padding:5px;
}

.padding-m {
    padding:10px;
}

.padding-x {
    padding:15px;
}

.padding-x img, .padding-x img, .padding-s img {
    padding:inherit;
}

.card .card-action-utb a {
    color: #318055 !important;
}

select {
    display: inline !important;
    border: 0;
    border-radius: 0;
    padding: 0;
    -webkit-box-shadow: none;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    left: 1px !important;
    visibility: visible !important;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
}


/*! CSS para Timeline */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 3;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/*! CSS para Savio */
.savio-hr{
    border: 2px solid #318055;
}

.horizontal-listing a:hover{
    color:#318055;
    font-weight: bold;
}


/*! CSS para Egresados */
.row-striped-color{
    background: #2d3c84;
    border-left: 5px solid #8cb735;
    color: #fff;
    border-spacing: 10px;
    outline: 5px solid #2d3c84;
}

.badge-color{
    color: #2f3f81;
    background: #fff;
    font-size: 3rem;
    font-weight: 400;
    font-size: 2.5rem;
    border-radius: 5px;
}


.row-striped-color-reverse{
    background: #8cb735!important;
    border-left: 5px solid #2d3c84;
    color: #fff;
    border-spacing: 10px;
    outline: 5px solid #8cb735;
}

.badge-color-reverse{
    color: #8cb736;
    background: #fff;
    padding: 5px 5px;
    font-size: 3rem;
    font-weight: 400;
    font-size: 2.5rem;
    border-radius: 5px;
}

.row-striped {
    padding: 15px 0;
}

.display-4{
    display: inline;
    background-color: #8cb736;
    padding-right: 80px;
    font-size: 2rem;
    vertical-align: middle;
}

.display-4-reverse{
    display: inline;
    background-color: #2d3c84;
    padding-right: 80px;
    font-size: 2rem;
    vertical-align: middle;
}

.st-green-inst {
    background-color: #2d3c84;
    border-left: 5px solid #ffffff;
    color: #fff;
    border-spacing: 10px;
    box-shadow: -5px 0px 0px 0px #8cb736;
    display: inline;
}

.st-green-inst-small {
    display: inline;
    border-left: 5px solid #8cb736;
}

.st-green-inst-small small{
    padding-left: 0px;
    margin-left: -14px;
    background: #8cb736;
    padding: 5px 20px;
}

.st-green-inst-small small a{
    color: #fff;
}

#card-egre{
    margin: 1.5%;
    border-radius: 15px;
    border: 1px solid #fff; 
}


#card-egre-inst{
    margin: 2%;
    border-radius: 15px;
    border: 1px solid #8cc63f;
    padding: 2%;
}

.card-full-inst{
    background-color: #8cc63f;
    color:#fff;
}

.card-full-inst{
    background-color: #8cc63f;
    color:#fff;
}

.card #card-egre .card-content {
    padding: 10px;
    border-radius: 0 0 1px 1px;
}

.card-full-inst-reverse{
    background-color: #2d3c84;
    color:#fff;
    border-radius: 10px;
}

.card-full-inst .card-content h5 {
    font-weight: bolder;
}

.card-full-inst .card-content p {
    font-size: 1rem;
}

#card-egre:hover{

}

.card-egre-mini .card-content .card-title {
    line-height: 20px;
    font-size: 20px;
}
