/*------------------------------------------
Feedback Survey
------------------------------------------*/
.webform-feedback-block {
  background: none;
  clear: both;
  float: left;
  position: relative;
  width: 100%;
}

.webform-feedback-block .logo-space {
  height: 50px;
}

.webform-feedback-block form {
  margin: 0 5px;
}

.webform-feedback-block h3 {
  background: none;
  border-bottom: 3px solid #cccccc;
  color: #000;
}

.webform-feedback-block .form-item .description,
.webform-feedback-block .form-item label {
  color: #000;
}

.webform-feedback-block .form-radios {
  clear: both;
  float: left;
  width: 100%;
}

.webform-feedback-block .form-radios div.form-item {
  border-right: 1px solid #000;
  float: left;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

.webform-feedback-block .form-radios div.form-item:last-of-type {
  border: none;
}

.webform-feedback-block #ajax-loader {
  background: url("../images/ajax-loader.gif") no-repeat;
  display: none;
  height: 30px;
  width: 100%;
}

#mask-bg {
  background-color: #000000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
}

.webform-feedback-block h2 {
  background: none;
  border-bottom: 3px solid #cccccc;
  border-top: 3px solid #cccccc;
  clear: both;
  color: #000;
  font-weight: bold;
  margin-top: 35px;
}

.webform-feedback-block .form-item .description {
  color: #999;
}

.webform-feedback-block {
  -moz-border-radius: 15px;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  background-color: #fff;
  border-bottom: 20px solid #fff;
  border-radius: 15px;
  border-top: 20px solid #fff;
  box-shadow: 1px 1px 5px #000;
  display: none;
/*  height: 340px;*/
  margin: 0 0 0 100px !important;
  overflow: hidden;
  padding: 30px !important;
  position: fixed;
  top: 100px;
  width: 700px;
  z-index: 1000;
}

.webform-feedback-block .content {
  height: 200px;
  margin-top: 20px;
  overflow: auto;
}

.webform-feedback-block .form-item label {
  color: #000;
  font-weight: normal;
}

.webform-feedback-block #formclose {
  color: #c8ad5e;
  position: absolute;
  right: 31px;
  top: 11px;
}

.small {
  left: 31px;
  top: -5px;
}

#webform_feedback_popup *:after {
  content: none !important;
}

#webform_feedback_popup *:before {
  content: none !important;
}

#webform_feedback_popup .fby-screen {
  height: 100%;
  position: fixed !important;
  top: 35%;
  width: 0;
}

#webform_feedback_popup a {
  border: 0 none;
  color: #000000;
  float: none;
  font: 12px/1.2 arial, helvetica, sans-serif;
  height: auto;
  margin: 0;
  outline: medium none;
  overflow: visible;
  padding: 0;
  position: static;
  text-align: left;
  text-indent: 0;
  vertical-align: baseline;
  width: auto;
  z-index: 999;
}

#webform_feedback_popup .fby-tab-l a {
  margin-left: -5px;
}

#webform_feedback_popup .fby-tab a {
  background: url("../images/feedback-tab.png") no-repeat;
  background-color: #c8ad5e;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 100px;
  position: absolute;
  width: 36px;
}

#webform_feedback_popup #fby-small a {
  left: 0;
  position: absolute;
  top: 0;
}

#webform_feedback_popup .feedback-button-right {
  right: 32px;
}

#webform_feedback_popup .feedback-button-left {
  left: 10px;
}
