#pie_pagina {
	background-color:#2A7D4E;
	color:#fff;
	padding:15px;
}
#copy {
	background-color:#000;
}
#menuauxiliar {
	background-color:#000;
}
#menu_politicas {
	background-color:#000;
}

.Titulo_UTB{
	margin-top:-10px;
	padding-top:-10px;
}
.Titulo_UTB h1 {
	font-size:1.4em;
}
.Titulo_UTB h2 {
	font-size:1.1em;
}
.Titulo_UTB h3 {
	font-size:1.2em;
}
.menu {
  padding-left: 2px;
}

.menu a  {
	list-style-type: none;
}

/*! Margen para imágenes u objetos */
.margen-s {
	padding:5px;
}

.margen-m {
	padding:10px;
}

.margen-x {
	padding:15px;
}

.margen-x img, .margen-x img, .margen-s img {
	padding:inherit;
}


/*! CSS para Timeline */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 44%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -40px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #113501 !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}



/*! CSS para el hero-widget */

.hero-widget { text-align: center; padding-top: 10px; padding-bottom: 10px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 5px; text-align: center; }
.hero-widget var { display: block; height: 3em; font-size: 3em; line-height: 3em; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 5px; }


/*! CSS para los jumbos */
.jumbo-default {background-color: #f5f5f5 !important;}
.jumbo-primary {background-color: #2A7D4E !important;color:#fff;}
.jumbo-success {background-color: #b2e0fe !important;}
.jumbo-warning {background-color: #824600 !important;color:#f0f0f0;}
.jumbo-danger {background-color: #d00000 !important;color:#f0f0f0;}
.jumbo-info {background-color: #004046 !important;color:#f0f0f0;}
.jumbo-muted{background-color: #a3a3a3 !important; color:#f0f0f0;}

.jumbo-verdecorp {background-color: #014f24 !important;color:#fff;}
.jumbo-azulcorp{background-color: #032676 !important;color:#fff;}
.jumbo-inverted{background-color: #292f3d !important;color:#fff;}

.jumbo-manga{background: #f5f5f5 url(../img/manga.jpg) 0 0 repeat-x;color:#333;background-size:cover; }
.jumbo-manga-inv{background: #191919 url(../img/manga-inv.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}
.jumbo-ternera{background: #f5f5f5 url(../img/ternera.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-ternera-inv{background: #191919 url(../img/ternera-inv.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}

.jumbo-numeros {background: #f5f5f5 url(../img/numeros.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-naciones {background: #f5f5f5 url(../img/naciones.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-equipos {background: #f5f5f5 url(../img/equipos.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-estudiantes {background: #f5f5f5 url(../img/estudiantes.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-profesores {background: #f5f5f5 url(../img/profesores.jpg) 0 0 repeat-x;color:#333; background-size:cover;}
.jumbo-grados {background: #191919 url(../img/grados.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}
.jumbo-gallery {background: #a7a7a7 url(../img/utb-gallery.jpg) 0 0 repeat-x;color:#000;background-size:cover;}





/*! CSS para evento */

.fecha{
	margin-left: 5px;
}
.fecha h3 {
	  font-size: 1.5em;
}

.well-default {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.fondo_trans {
    background-color: #FFA500;
    padding: 10px;
}
 
.texto_trans {
    width: 200px;
    height: 100px;
    background-color: transparent;
    padding: 10px;
    color: #0000FF;
    position: absolute;
    z-index: 1;
}
 
.background_trans {
    width: 200px;
    height: 100px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}
 
.transparente {
    opacity: 0.5;
}

.opaco {
	color:#000;
	background: rgba (255,255,255, 0.7);
	min-height: 20px;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);	
}

