@font-face {
    font-family: 'renner-black';
    src: url('../fonts/renner-black.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'renner-bold';
    src: url('../fonts/renner-bold.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'renner-book';
    src: url('../fonts/renner-book.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'renner-light';
    src: url('../fonts/renner-light.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'renner-medium';
    src: url('../fonts/renner-medium.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'renner-mediumitalic';
    src: url('../fonts/renner-mediumitalic.otf') format('opentype');
    font-style: normal;
}
