/* This file contain the css codes for ElPatio website.
  Once the new theme has been implemented, the contain of this file
  has to be move to the main.css file and  this file hasn't to be called in the
  SUBTX1000_preprocess_page(&$vars) function in template.php file
  */

/**
red color: #cf1300
green color: #74ca00
yellow color: #d4aa00
**/

body .container {
  margin-bottom: 20px;
}

body.front .container {
  margin-bottom: 0px;
}

aside{
  padding-bottom: 10px;
}

/* for logo and project title */
.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
/* end for logo and project title */

/********** main menu ***********/
@media (min-width: 992px){
  /**** center main menu ****/
  .main-menu-wrapper{
    display: -webkit-flex; /* Chrome 21.0- , Safari 6.1+ */
    display: -moz-flex; /* Mozilla 18.0- */
    display: -ms-flex; /* IE 10 */
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  /** end center main menu **/
}
/******** end main menu *********/

/**** center the title page ****/
.page-title {
    text-align: center;
}
/**** center the title page ****/

/************** node proyecto *************/
.node-proyecto .logo_proyecto{
  display: inline-block;
  margin-right: 30px;
}

.node-proyecto .title_proyecto{
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 480px){
  .node-proyecto .logo_proyecto{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .node-proyecto .title_proyecto{
    display: block;
  }

  .node-proyecto .title_proyecto h3{
    text-align: center;
    font-size: 2.2rem !important;
  }
}

/*** field emprendedores ***/
div.field-name-field-emprendedores div.field-item{
  position: relative;
  left: 20px;
}

div.field-name-field-emprendedores div.field-item ul li{
  list-style-type: disc;
  margin-bottom: 10px;
}
/*** end field emprendedores ***/

/*** papers files table ***/
/* hide atachments and size headers */
div.field-name-field-papers table.table thead{
  display: none;
}

div.field-name-field-papers table.table thead tr th{
  display: none;
}
/* end hide atachments and size headers */

div.field-name-field-papers table.table>tbody>tr>td{
  border: 0px solid;
}

div.field-name-field-papers table.table>tbody>tr>td{
  background-color: #fff;
}

/* hide size cell */
div.field-name-field-papers table.table>tbody>tr>td:last-child{
  display: none;
}
/* end hide size cell */

div.field-name-field-papers table.table span.file img{
  float: left;
  margin-right: 10px;
}

div.field-name-field-papers table.table span.file a{
  display: block;
  color: #000;
  overflow: hidden
}

div.field-name-field-papers table.table span.file a:hover{
  text-decoration: none;
  color: #cf1300;
}

/*** end papers files table ***/

/***** field_tags and field_area*****/
.node-proyecto .field-name-field-tags .field-item, .node-proyecto .field-name-field-area .field-item {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  /* color: rgba(0, 0, 0, 0.6); */
  color: rgba(255, 255, 255, 1);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #579f73;
  margin-right: 10px;
  margin-bottom: 10px;
}

.node-proyecto .field-name-field-area .field-item a{
  color: #fff;
}

.node-proyecto .field-name-field-area .field-item a:hover{
  text-decoration: none;
}

.node-proyecto .field-name-field-area .field-label{
  line-height: 32px;
}

/*** end field_tags and field_area ***/
/************ end node proyecto ************/

/*** related projects views ***/
.bottom-space{
  margin-bottom: 30px;
}

div.logo_proyecto_grid{
  height: 150px;

}

div.logo_proyecto_grid a{
  text-align: center;
  margin: 0 auto;
}

/** wave-effect */
div.logo_proyecto_grid a{
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
}

div.logo_proyecto_grid a:hover{
  z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

div.logo_proyecto_grid .ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

div.logo_proyecto_grid .animate {
  -webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
/** end wave-effect */

.title_proyecto_grid{
  font-weight: 300 !important;
}

.title_proyecto_grid a{
  color: #2A7D4E; /* verde footer */
}

.title_proyecto_grid a:hover{
  text-decoration: none;
}
/*** end related projects views ***/

.velocity-effect{
  opacity: 0;
}

div.slidedownin-animation, div.slideupin-animation, div.expandin-animation{
  opacity: 0;
}

div.block-views h1.block-title{
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300 !important;
}

div.block-views h1.block-title:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

div.block-views h1.block-title span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

/** fix parallax effect in google chrome **/
div.parallax-container{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/** fix parallax effect in google chrome **/

div.block-webform h1.block-title{
  font-size: 2.92rem !important;
}

/*** makes the h tags responsive ***/
.h-flow-text {
  font-weight: 300 !important; }
@media only screen and (min-width: 600px) {
  h1.h-flow-text {
    font-size: 3.56rem !important;
  }
  h2.h-flow-text {
    font-size: 2.92rem !important;
  }
  h3.h-flow-text {
    font-size: 2.28rem !important;
  }
}
@media only screen and (min-width: 960px) {
  h1.h-flow-text {
    font-size: 4.2rem !important;
  }
  h2.h-flow-text {
    font-size: 3.56rem !important;
  }
  h3.h-flow-text {
    font-size: 2.92rem !important;
  }
}
@media only screen and (max-width: 600px) {
  h1.h-flow-text {
    font-size: 2.92rem !important;
  }
  h2.h-flow-text {
    font-size: 2.28rem !important;
  }
  h3.h-flow-text {
    font-size: 1.64rem !important;
  }
}
/*** end makes the h tags responsive ***/

/*** banners home ***/
div.banners_home_wrapper{
  background-color: lightgray;
  padding-top: 40px;
  padding-bottom: 0px;
  margin-bottom: 0 !important;
}

div.banners_home_sub_wrapper{
  background-color: white;
  padding-top: 0px;
  padding-bottom: 60px;
  margin-bottom: 0 !important;
}

div.banners_home_sub_wrapper hr.banner_header_line{
  border-top: 6px solid #f00;
  max-width: 350px !important;
  width: auto;
}

/** efecto hover de los banners del home ElPatio, para imagenes de 350x300 **/
.hover-effect-3-image > img:first-child{
    display: block;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.hover-effect-3-image:hover > img:first-child{
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
.hover-effect-3 {
    display: block;
    text-align: left;
    width: 340px;
    margin: 0 auto;
}
.hover-effect-3-content {
    position: relative;
    /*padding: 5px 6px;*/
}
.hover-effect-3-image {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0px 0px rgba(100, 100, 100, 0.4);
    -moz-box-shadow: 0 0px 0px rgba(100, 100, 100, 0.4);
    box-shadow: 0 0px 0px rgba(100, 100, 100, 0.4);
}

.hover-effect-3-content:hover .jm-item-overlay {
    opacity: 0.3;
}
.hover-effect-3-button {
    position: relative;
    /*float: right;*/
    margin-top: 20%;
}
.hover-effect-3-button a {
    background-color: #fff !important;
    font-family: 'Oswald', sans-serif;
    color: #cf1300 !important;
    font-size: 1.2em;
    /*line-height: 30px;*/
    text-decoration: none !important;
    text-transform: none !important;
    /*display: block;*/
    padding: 0px 40px !important;
    border: 0px solid #222;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.hover-effect-3-button a:hover {
    background: #eee !important;
    /*border: 1px solid #000;*/
    color: #000;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.hover-effect-3-button a.btn-banner-home-red{
  color: #cf1300  !important;
}

.hover-effect-3-button a.btn-banner-home-green{
  color: #74ca00 !important;
}

.hover-effect-3-button a.btn-banner-home-yellow{
  color: #d4aa00 !important;
}

.hover-effect-3 .hover-effect-3-content .jm-item-title {
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    transition: all 0.5s ease-in 0s;
}
.hover-effect-3-description div.description{
    font-size:1.2em;
    display: block;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}
.hover-effect-3 .hover-effect-3-content:hover .jm-item-title {
    left: -100%;
}
.hover-effect-3 .hover-effect-3-description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    bottom: 100%;
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}

.hover-effect-3 .hover-effect-3-description-red {
  background: rgba(207,19,0,0.8);
}

.hover-effect-3 .hover-effect-3-description-green {
  background: rgba(116,202,0,0.8);
}

.hover-effect-3 .hover-effect-3-description-yellow {
  background: rgba(212,170,0,0.8);
}

.hover-effect-3 .hover-effect-3-content:hover .hover-effect-3-description {
    bottom: 0%;
}

.hover-effect-3 .hover-effect-3-description img{
  margin: 0 auto;
  width: 20%;
}

/*** for tablets and 1200 resolution****/
@media (max-width: 1366px) and (min-width: 1200px) {
  .hover-effect-3 {
        width: 300px;
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .hover-effect-3 {
        padding: 0px;
        width: 250px;
    }
    .hover-effect-3-description div.description {
        font-size: 1.0em;
        /*height: 80px;*/
    }
    .hover-effect-3-button a{
        font-size: 1.0em;
        line-height: 25px;
    }
}
/*
@media (max-width: 992px) and (min-width: 780px) {
    .hover-effect-3 {
        width: 200px;
    }
    .hover-effect-3-button {
      margin-top: 15%;
    }
    .hover-effect-3-description div.description{
      margin-top: 10px;
    }
}

@media (max-width: 780px) and (min-width: 600px) {
    .hover-effect-3 {
        width: 150px;
    }
    .hover-effect-3-button {
      margin-top: 0%;
    }
    .hover-effect-3-description div.description{
      margin-top: 10px;
    }
}
*/
@media (max-width: 600px) and (min-width: 360px) {
    .hover-effect-3 {
        width: 300px;
    }
}
/** end efecto hover de los banners del home, para imagenes de 350x300 **/


/*** styles exposed filters in Proyectos views ***/
.view-proyectos .view-filters .form-control{
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
}

.view-proyectos .view-filters .views-exposed-form .bef-checkboxes label{
  font-size: 1.6rem;
  font-weight: 200;
}

/* select all/none link */
.view-proyectos .view-filters .views-exposed-form .form-control a.bef-toggle{
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 12px;
  border: none;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  outline: 0;
  padding: 0 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #2A7D4E;
  text-align: center;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 300;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* end select all/none link */

.view-proyectos .view-filters .views-exposed-form .bef-checkboxes .form-item{
  display: inline-block;
  margin: 0 10px 10px 0;
}

/** btn apply and reset **/
.view-proyectos .view-filters .views-exposed-form .views-exposed-widget{
  float: none;
  padding: .5em 1em 0 0;
  clear: both;
  display: inline;
  margin: 0 auto;
}

/* hide apply button */
.view-proyectos .view-filters .views-exposed-form .views-submit-button button.form-submit{
  display: none !important;
}
/* end hide apply button */

/** end btn apply and reset **/


/** convert checkbox and radio-buttons to buttons **/
.view-proyectos .view-filters .views-exposed-form .form-control{
    height: auto !important;
    padding: 6px 0px;
}
@media (min-width: 992px){
  .view-proyectos .view-filters .views-exposed-form .form-control{
    display: -webkit-inline-flex; /* Chrome 21.0- , Safari 6.1+ */
    display: -moz-inline-flex; /* Mozilla 18.0- */
    display: -ms-inline-flex; /* IE 10 */
    display: inline-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
}

.view-proyectos .view-filters .views-exposed-form .bef-checkboxes .form-item input[type="checkbox"] + label:before {
  display: none;
}

.view-proyectos .view-filters .views-exposed-form .bef-checkboxes .form-item input[type=checkbox] + label {
  display:inline-block;
  padding: 4px 12px;
  margin-bottom: 0px;
  border: none;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  outline: 0;
  padding: 0 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #2A7D4E;
  font-size: 12px;
  font-weight: 300 !important;
  text-align: center;
  letter-spacing: .5px;

  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  will-change: opacity, transform;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.view-proyectos .view-filters .views-exposed-form .bef-checkboxes .form-item input[type=checkbox] + label:hover {
  background-color: #599975;
}

.view-proyectos .view-filters .views-exposed-form .bef-checkboxes .form-item input[type=checkbox]:checked + label{
 background-image: none;
 outline: 0;
 background-color:#e0e0e0;
 color: #000;
}

.view-proyectos .view-filters .views-exposed-form .bef-checkboxes .form-item input[type=checkbox]:checked + label:after{
  content: "\f057"; /* equivalent to fa-times-circle */
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 15px;
  padding-right: 0em;
  position: relative;
  left: 6px;
}

/** end convert checkbox and radio-buttons to buttons **/

/*** end styles exposed filters in Proyectos views ***/

/**** video-header in Quienes Somos page ****/
.video-header{
  background-color: #333333;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px 30px;
}

.video-header span{
  display: inline-block;
  position: relative;
  top: -14px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .video-header{
    margin-bottom: 2px;
    padding: 0px 30px;
  }
}

@media (max-width: 991px) and (min-width: 600px) {
  .video-header{
    margin-bottom: 2px;
    padding: 0px 30px;
  }

  .video-header span{
    top: -5px;
    font-size: 14px;
  }

  .video-header > i.medium{
    font-size: 2rem;
  }
}
/**** end video-header in Quienes Somos page ****/

/***** slider home ******/
div.caption-top{
  top: 2% !important;
  left: 0% !important;
  right: 0;
  width: 400px !important;
  margin: 0 auto;
}

div.caption-bottom{
  top: initial !important;
  bottom: 0% !important;
  left: 0% !important;
  right: 0;
  width: 400px !important;
  margin: 0 auto;
}

.strong{
  font-weight: bold !important;
}

.control-buttons{
  position: absolute;
  top: 40%;
  z-index: 9;
  width: 100%;
}

.control-buttons #prev-button{
  position: relative;
  float: left;
}
.control-buttons #prev-button a, .control-buttons #next-button a{
  display: block;
  padding: 15px 20px;
  cursor: pointer;
  background-color: rgba(60, 60, 60, 0.60);
  color: #fff;
  font-weight: 300;
  font-family: "Roboto";
}

.control-buttons #next-button{
  position: relative;
  float: right;
}

.slider .indicators .indicator-item {
  background-color: #d3d3d3;
  -moz-box-shadow: inset 0px 1px #a3a3a3; /* FF3.5+ */
  -webkit-box-shadow: inset 0px 1px #a3a3a3; /* Saf3.0+*/
  box-shadow: inset 0px 1px #a3a3a3; /* Opera 10.5, IE 9 */
}

.slider .indicators .indicator-item.active {
  background: rgba(87,159,115,1);
  background: -moz-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,159,115,1)), color-stop(100%, rgba(42,125,78,1)));
  background: -webkit-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: -o-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: -ms-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: linear-gradient(to bottom, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#579f73', endColorstr='#2a7d4e', GradientType=0 );
  -moz-box-shadow: inset 0px 1px #196c3d; /* FF3.5+ */
  -webkit-box-shadow: inset 0px 1px #196c3d; /* Saf3.0+*/
  box-shadow: inset 0px 1px #196c3d; /* Opera 10.5, IE 9 */
}


/**** fin slider home ****/

/*********** buttons ********/
a.btn-bg-red{
  background-color: #cf1300 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

a.btn-bg-red:hover{
  background-color: #ef5350 !important;
}

a.btn-bg-yellow{
  background-color: #d4aa00 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

a.btn-bg-yellow:hover{
  background-color: #d9bb33 !important;
}

a.btn-bg-green{
  background-color: #74ca00 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

a.btn-bg-green:hover{
  background-color: #79ce33 !important;
}

a.btn-bg-purple{
  background-color: #AA0044 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

a.btn-bg-purple:hover{
  background-color: #CC2266 !important;
}
/********* end buttons ******/


/********* menu politicas ********/
@media only screen and (min-width: 601px){
  div#block-menu-menu-menu-politicas nav{
    line-height: normal !important;
  }
}

div#block-menu-menu-menu-politicas ul.nav{
  line-height: normal !important;
}

div#block-menu-menu-menu-politicas ul.navbar-nav a.btn-primary{
  margin-top: 2px;
}
/******* end menu politicas ******/

/***** modal feedback ******/
button.btn-close-modal-feedback{
  background-color: #cf1300 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  float: right;
  top: -36px;
}

button.btn-close-modal-feedback:hover{
  background-color: #ef5350 !important;
}
/*** end modal feedback ****/

/*** buttons pagination owl-carrouse - owl-theme-subtx1000 ***/
.owl-theme-subtx1000 .owl-wrapper-outer .owl-wrapper .owl-item{
  text-align: center !important;/* fix bug on mobile */
}
.owl-theme-subtx1000 .owl-controls{
  margin-top: 0px;
}
.owl-theme-subtx1000 .owl-controls .owl-page span{
  background-color: #d3d3d3;
  -moz-box-shadow: inset 0px 1px #a3a3a3; /* FF3.5+ */
  -webkit-box-shadow: inset 0px 1px #a3a3a3; /* Saf3.0+*/
  box-shadow: inset 0px 1px #a3a3a3; /* Opera 10.5, IE 9 */
}

.owl-theme-subtx1000 .owl-controls .owl-page.active span{
  background: rgba(87,159,115,1);
  background: -moz-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,159,115,1)), color-stop(100%, rgba(42,125,78,1)));
  background: -webkit-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: -o-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: -ms-linear-gradient(top, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  background: linear-gradient(to bottom, rgba(87,159,115,1) 0%, rgba(42,125,78,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#579f73', endColorstr='#2a7d4e', GradientType=0 );
  -moz-box-shadow: inset 0px 1px #196c3d; /* FF3.5+ */
  -webkit-box-shadow: inset 0px 1px #196c3d; /* Saf3.0+*/
  box-shadow: inset 0px 1px #196c3d; /* Opera 10.5, IE 9 */
}

.owl-theme-subtx1000 .owl-controls .owl-buttons div{
  padding: 15px 10px;
  background-color: rgba(60, 60, 60, 0.60);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  opacity: 0.3;
  filter: Alpha(opacity=30); /* IE8 and earlier */
}

.owl-theme-subtx1000 .owl-controls .owl-buttons .owl-prev{
  position: absolute;
  top: 30%;
  float: left;
  left: 0px;
}

.owl-theme-subtx1000 .owl-controls .owl-buttons .owl-next{
  position: absolute;
  top: 30%;
  float: right;
  right:0px;
}

/*** end buttons pagination owl-carrouse - owl-theme-subtx1000 ***/

/* margin-bottom-value **/
.m-b-40{
  margin-bottom: 40px;
}
/* end margin-bottom-value **/

/** border-bottom-value */
.b-b-1{
  border-bottom: 1px solid #c3c3c3;
}
/** end border-bottom-value */

ul.gear-list li{
  list-style-type: none;
  background: url('../img/gears.png');
  background-repeat: no-repeat;
  padding-left: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 20px;
}
