/*
  This file fix the materialize and bootstrap conflict or override css
  Once the new theme has been implemented, this file hasn't to be called in the
  SUBTX1000_preprocess_page(&$vars) function in template.php file
  */

body{
  font-size: 15px !important;

}

.container{
  width: 96%;
}

.row{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important; /* default = 20px */
}

.container .row {
  margin-left: -10px;
  margin-right: -10px;
}

.view-content .row{
  margin-bottom: 20px !important; /* default = 20px */
}

@media screen and (max-width: 50em){
  .content {
    padding: 0 0px !important;
  }
}

/*** remove display: block bootstrap properties to img-responsive class ***/
img.img-responsive{
  display: initial !important;
}
/*** end remove display: block bootstrap properties to img-responsive class ***/

/*** adjust the title font size to the SUBTX1000 theme ***/
hgroup.Titulo_UTB h1{
  font-size: 1.4em !important;
}
hgroup.Titulo_UTB h2{
  font-size: 1.1em !important;
}
hgroup.Titulo_UTB h3{
  font-size: 1.2em !important;
}
/*** end adjust the title font size to the SUBTX1000 theme ***/

nav{
  height: auto;
}

nav ul a {
  font-size: 1.2rem;
}

nav ul li{
  float: none;
}


@media (max-width: 767px){
  .navbar-default .navbar-collapse {
    border: 1px solid #c3c3c3;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: white !important;
  }
}

div.tabs{
  height: auto;
}

form label{
  font-size: 1.4rem;
  font-weight: 400 !important;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  font-size: 1.4rem !important;
}

.light{
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400 !important;
  line-height: 1.1 !important; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit !important; }

h1 {
  font-size: 4.2rem !important;
  line-height: 110% !important;
  margin: 2.1rem 0 1.68rem 0 !important; }

h2 {
  font-size: 3.56rem !important;
  line-height: 110% !important;
  margin: 1.78rem 0 1.424rem 0 !important; }

h3 {
  font-size: 2.92rem !important;
  line-height: 110% !important;
  margin: 1.46rem 0 1.168rem 0 !important; }

h4 {
  font-size: 2.28rem !important;
  line-height: 110% !important;
  margin: 1.14rem 0 0.912rem 0 !important; }

h5 {
  font-size: 1.64rem !important;
  line-height: 110% !important;
  margin: 0.82rem 0 0.656rem 0 !important; }

h6 {
  font-size: 1rem !important;
  line-height: 110% !important;
  margin: 0.5rem 0 0.4rem 0 !important; }


@media screen and (max-width: 50em){
  .content {
    text-align: inherit !important;
  }
}

.btn, .btn-primary{
  text-decoration: none !important;
  color: #fff !important;
  background-color: #267a4a !important;
  text-align: center !important;
  letter-spacing: .5px !important;
  -webkit-transition: .2s ease-out !important;
  -moz-transition: .2s ease-out !important;
  -o-transition: .2s ease-out !important;
  -ms-transition: .2s ease-out !important;
  transition: .2s ease-out !important;
  cursor: pointer !important;

  border: none !important;
  border-radius: 2px !important;
  display: inline-block !important;
  height: 36px !important;
  line-height: 36px !important;
  outline: 0 !important;
  padding: 0 2rem !important;
  text-transform: uppercase !important;
  vertical-align: middle !important;
  -webkit-tap-highlight-color: transparent !important;

  /* effects */
  position: relative !important;
  cursor: pointer !important;
  display: inline-block !important;
  overflow: hidden !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
  vertical-align: middle !important;
  z-index: 1 !important;
  will-change: opacity, transform !important;
  -webkit-transition: all .3s ease-out !important;
  -moz-transition: all .3s ease-out !important;
  -o-transition: all .3s ease-out !important;
  -ms-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
  /* end effects */

  /* gradient bootstrap */
  background-image: initial !important;
  background-repeat: repeat-x;
  border-color: initial !important;
  /* end gradient bootstrap */
}

.btn:hover, .btn-primary:hover{
  background-color: #599975 !important;
  -webkit-transition: .2s ease-out !important;
  -moz-transition: .2s ease-out !important;
  -o-transition: .2s ease-out !important;
  -ms-transition: .2s ease-out !important;
  transition: .2s ease-out !important;
}


/****** fix styles in Proyectos views *******/
/* hide broken tooltips */
.backdrop{
  display: none !important;
}
/* end hide broken tooltips */
/**** fix pagination ****/
.pagination li.active {
  background-color: transparent !important;
}
/**** fix pagination ****/
/****** end fix styles in Proyectos views *******/


/****** fix slides indicators *******/
.indicators{
  border: 0px solid !important;
  border-radius: 0px !important;
  width: initial !important;
}
/**** end fix slides indicators *****/


/********** eventos *************/
.node-eventos table tbody tr th:last-child{
  width: 20%;
}

/**** all eventos view page ***/
.view-id-eventos .panel-primary .panel-footer{
  padding-bottom: 20px;
}

/** end all eventos view page **/
/******** fin eventos ***********/

/**** fix selects list options ****/
select{
  display: block !important;
}

/** end fix selects list options **/


/********* fix modals - feedback ***********/
div#myModal{
  background-color: initial;
  max-height: none;
  width: auto;
}
/******* end fix modals - feedback *********/
