/*! Fuente web Roboto */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

.Titulo_UTB{
    margin-top:-10px;
    padding-top:-10px;
}
.Titulo_UTB h1 {
    font-size:1.4em;
}
.Titulo_UTB h2 {
    font-size:1.1em;
}
.Titulo_UTB h3 {
    font-size:1.2em;
}
.menu {
    padding-left: 2px;
}

.menu a  {
    list-style-type: none;
}

/*! Margen y padding para imágenes u objetos */
.margen-s {
    margin:5px;
}

.margen-m {
    margin:10px;
}

.margen-x {
    margin:15px;
}

.margen-x img, .margen-x img, .margen-s img {
    margin:inherit;
}

.padding-s {
    padding:5px;
}

.padding-m {
    padding:10px;
}

.padding-x {
    padding:15px;
}

.padding-x img, .padding-x img, .padding-s img {
    padding:inherit;
}

/*! CSS para Timeline */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 44%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -40px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #113501 !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}



/*! CSS para el hero-widget */

.hero-widget { text-align: center; padding-top: 5px; padding-bottom: 5px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 5px; text-align: center; }
.hero-widget var { display: block; height: 2em; font-size: 2em; line-height: 2em; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 5px; }


/*! CSS para los jumbos */
.jumbo-default {background-color: #f9f9f9 !important;}
.jumbo-primary {background-color: #055200 !important;color:#fff;}
.jumbo-success {background-color: #acd0bc !important;}
.jumbo-warning {background-color: #fef2a3 !important;color:#8e7d0b;}
.jumbo-danger {background-color: #d00000 !important;color:#f0f0f0;}
.jumbo-info {background-color: #080374 !important;color:#f0f0f0;}
.jumbo-muted{background-color: #a3a3a3 !important; color:#f0f0f0;}

.jumbo-inverted{background-color: #000000 !important;color:#fff;}

.jumbo-manga{background: #f5f5f5 url(../img/manga.jpg) 0 0 repeat-x;color:#333;background-size:cover; }
.jumbo-manga-inv{background: #191919 url(../img/manga-inv.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}
.jumbo-ternera{background: #f5f5f5 url(../img/ternera.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-ternera-inv{background: #191919 url(../img/ternera-inv.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}

.jumbo-numeros {background: #f5f5f5 url(../img/numeros.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-naciones {background: #f5f5f5 url(../img/naciones.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-equipos {background: #f5f5f5 url(../img/equipos.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-estudiantes {background: #f5f5f5 url(../img/estudiantes.jpg) 0 0 repeat-x;color:#333;background-size:cover;}
.jumbo-profesores {background: #f5f5f5 url(../img/profesores.jpg) 0 0 repeat-x;color:#333; background-size:cover;}
.jumbo-grados {background: #191919 url(../img/grados.jpg) 0 0 repeat-x;color:#fff;background-size:cover;}
.jumbo-gallery {background: #dadada url(../img/utb-gallery.jpg) 0 0 repeat-x;color:#000;background-size:cover;}
.jumbo-profesionales {background: #dadada url(../img/profesionales.jpg) 0 0 repeat-x;color:#000;background-size:cover;}
.jumbo-cep {background: #dadada url(../img/estudiantes-cep.jpg) 0 0 repeat-x;color:#000;background-size:cover;}
.jumbo-virtuales {background: #dadada url(../img/virtuales.jpg) 0 0 repeat-x;color:#000;background-size:cover;}
.jumbo-educacion {background: #dadada url(../img/educacion.jpg) 0 0 repeat-x;color:#000;background-size:cover;}
.jumbo-entorno {background: #dadada url(../img/entorno.jpg) 0 0 repeat-x;color:#000;background-size:cover;}


/*! CSS para evento */

.fecha{
    margin-left: 5px;
}
.fecha h3 {
    font-size: 1.5em;
}

/*! CSS para marcos simples */

.well-default {
    min-height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*! CSS para opacidades */

.opaco {
    background: rgba(0,0,0,.5);
    min-height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #333;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.mini-opaco {
    background: rgba(0,0,0,.5);
    min-height: 5px;
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid #333;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.mini-opaco > p , .mini-opaco > h1, .mini-opaco > h2, .mini-opaco > h3, .mini-opaco > h4, .mini-opaco > h5, .mini-opaco > h6 {
    color:#fff;
}

.opaco > p , .opaco > h1, .opaco > h2, .opaco > h3, .opaco > h4, .opaco > h5, .opaco > h6 {
    color:#fff;
}

.transparente {
    background: rgba(0,0,0,.1);
    min-height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #888;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.transparente > p , .transparente > h1, .transparente > h2, .transparente > h3, .transparente > h4, .transparente > h5, .transparente > h6 {
    color:#000;
}

/* Clases para complemento de bootstrap - Texto */
.filtro-texto{
    height: 34px;
}

.bg-brand {
    background-color: #303990 !important;color:#fff;
}

.text-brand {
    color: #303990;
}
a.text-brand:hover {
    color: #0c124a;
}

.panel-brand {
    border-color: #0c124a !important;
}
.panel-brand  a:hover{
    color:#cecece;
}
.panel-brand > .panel-heading {
    color: #ffffff;
    background-color: #303990;
    border-color: #303990;
}
.panel-brand > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #0c124a;
}
.panel-brand > .panel-heading .badge {
    color: #f9f9f9;
    background-color: #222222;
}
.panel-brand > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #0c124a;
}

.panel-brand >  .panel-body {
    border-color: #303990!important;
}

.bg-brand2 {
    background-color: #0b5c65 !important;color:#fff;
}

.text-brand2 {
    color: #0b5c65;
}
a.text-brand2:hover {
    color: #1297a7;
}

.panel-brand2 {
    border-color: #0b5c65;
}
.panel-brand2  a:hover{
    color:#cecece;
}
.panel-brand2 > .panel-heading {
    color: #ffffff;
    background-color: #0b5c65;
    border-color: #0b5c65;
}
.panel-brand2 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #1c4f55;
}
.panel-brand2 > .panel-heading .badge {
    color: #f9f9f9;
    background-color: #222222;
}
.panel-brand2 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #1c4f55;
}

.panel-brand2{
    border-color: #0b5c65!important;
}

.bg-brand3 {
    background-color: #0C124A !important;color:#fff;
}

.text-brand3 {
    color: #0C124A;
}
a.text-brand3:hover {
    color: #1297a7;
}

.panel-brand3 {
    border-color: #0c124a !important;
}
.panel-brand3  a:hover{
    color:#cecece;
}
.panel-brand3 > .panel-heading {
    color: #ffffff;
    background-color: #194169;
    border-color: #194169;
}
.panel-brand3 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #0c124a;
}
.panel-brand3 > .panel-heading .badge {
    color: #f9f9f9;
    background-color: #222222;
}
.panel-brand3 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #0c124a;
}

.panel-brand3{
    border-color: #194169!important;
}


/*! CSS para marcos con sombra */


.caja-sombra {
    background: #fff;
    margin:5px 0px 15px 0px;
    border:1px solid #ddd;
}

.caja-sombra:after,
.caja-sombra:before {
    top: 80%;
    left: 5px;
    width: 50%;
    z-index: -1;
    content: "";
    bottom: 15px;
    max-width: 300px;
    background: #999;
    position: absolute;
}

/*Efecto 1*/
.efecto-sombra-1 {
    box-shadow: 0 10px 6px -6px #bbb;
    -moz-box-shadow: 0 10px 6px -6px #bbb;
    -webkit-box-shadow: 0 10px 6px -6px #bbb;
}

/*Efecto 2,3,4*/
.efecto-sombra-2 {
    position: relative;
}

.efecto-sombra-2:after,
.efecto-sombra-2:before,
.efecto-sombra-3:before,
.efecto-sombra-4:after {
    transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    box-shadow: 0 15px 10px #999;
    -moz-box-shadow: 0 15px 10px #999;
    -webkit-box-shadow: 0 15px 10px #999;
}

.efecto-sombra-2:after,
.efecto-sombra-4:after {
    left: auto;
    right: 5px;
    transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}


/*Líneas de caja de sombras*/
.linea-caja-top {
    border-top: solid 2px #055200;
}

.linea-caja-left {
    border-left: solid 2px #055200;
}

.linea-caja-bottom {
    border-bottom: solid 2px #055200;

}

.linea-caja-right {
    border-right: solid 2px #055200;
}


.caja-utb{
    -moz-border-radius-topleft:0px;
    -moz-border-radius-topright:20px;
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:0px;

    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:0px;

    border:1px solid #333;
    width:100%;

}

.galeria {
    margin:0px;
    padding:0px;
}
.galeria > img,
.galeria a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-margen {
    margin:0px;
}
.no-margen-left {
    margin-left:0px;
}
.no-margen-right {
    margin-right:0px;
}
.no-margen-top {
    margin-top:0px;
}
.no-margen-bottom {
    margin-bottom:0px;
}

.testimonios > img {
    height: auto;
    width: auto;
}

.inverse .navbar-nav>li>a:hover, .inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #055200;
}


.inverse{
    background-color: #000000;
    color: #fff;
}

.inverse .navbar-nav>li>a, .inverse .navbar-nav>li>a {
    color: #fff;
}

.captions-galeria{
    bottom: 0%;
    position: absolute;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    width: 100%;
    height: auto;
}


.controls {
    left: 50%;
    position: absolute;
}

.indicators{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #055200;
    border-radius: 10px

}

.indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff;
}


/* Counters e indicadores */

.contador-item{max-width:360px;margin:5px auto}
.contador-porcentaje {display:inline-block;margin-left:2px;font-size:25px}


.contador-1{margin:5px 0}
.contador-1 i{display:block;margin-bottom:20px;font-size:25px}
.contador-1 span{display:block;margin-bottom:20px;font-size:25px}
.contador-1 hr{width:35px;margin:5px auto;border-width:3px;border-bottom:0;border-left:0;border-right:0}

.contador-2{padding:10px 0}
.contador-2 .num-container{width:120px;height:120px;line-height:120px;margin:0 auto 20px;font-size:40px;color:#555;background:#fff;border-radius:50%;}
.contador-2 .contador-item:hover .num-container{box-shadow:0 0 0 10px rgba(0,0,0,.15)}


.contador-3{margin:5px 0}
.contador-3 .num-container{font-size:90px;line-height:90px;font-weight:600}


.contador-4{margin:5px 0}
.contador-4 i{width:75px;height:75px;line-height:73px;font-size:35px;text-align:center;border-radius:50%;float:left;border:1px solid #f3f3f3}
.contador-4 span{width:75px;height:75px;line-height:73px;font-size:35px;text-align:center;border-radius:50%;float:left;border:1px solid #f3f3f3}
.contador-4 h4,.contador-4 p{margin-left:80px}
.contador-4 h4{position:relative;margin-top:0;margin-bottom:0;font-size:40px;line-height:50px}
.contador-4 h4 small{display:inline-block;margin-left:3px;font-size:18px;font-weight:600;text-transform:uppercase;color:#bbb}

.servicio {
    overflow: hidden;
    position: relative;
}

.servicio-bg {
    background-color: rgba(255,255,255,0.1);
    width: 250px;
    padding: 60px;
    position: absolute;
    top: -10px;
    right: -100px;
    transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
}


/* Ejercicio con botones 3D */

.btn-brand {
    background-color: #303990 !important;
    border-color: #18482d !important;
    color: #fff !important;
}

.btn-brand:over {
    background-color:#262D73  !important;
    border-color: #18482d !important;
    color: #fff !important;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default3d {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary3d {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
.btn-success3d {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
.btn-info3d {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning3d {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger3d {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}


/* Papel en capas*/
.capas-papel-gris1 {
    background: #f8f8f8;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #f8f8f8, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #f8f8f8, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

.capas-papel-default {
    background: #fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #eee, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #eee, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

.capas-papel-inverso {
    background: #000;
    color:#fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #1d1d1d, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #393939, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

.capas-papel-gris2 {
    background: #eee;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #eee, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #eee, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

.capas-papel-brand1 {
    background: #2A7D4E;
    color:#fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #1f5a38, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #11311f, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

.capas-papel-brand2 {
    background: #303990;
    color:#fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #212862, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #131738, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

.capas-papel-brand3 {
    background: #0B5C65;
    color:#fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #073b41, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #041e21, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

.capas-papel-brand4 {
    background: #194169;
    color:#fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* sombra superior */
        0 10px 0 -5px #0d2c4c, /* segunda capa */
        0 10px 1px -4px rgba(0,0,0,0.15), /* segunda sombra */
        0 20px 0 -10px #082139, /* tercera capa */
        0 20px 1px -9px rgba(0,0,0,0.15); /* tercera sombra */
}

/* RSS*/

.block-aggregator > ul > li{
    list-style:none;
}
.more-link > a{
    background-image: linear-gradient(to bottom, #2a7d4e 0, #1b4f31 100%);
    background-repeat: repeat-x;
    border-color: #18482d;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: #fff;
    background-color: #2a7d4e;
}
.more-link {
    margin-top: 0;
    margin-bottom: 8.5px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

/* Submenu*/

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
    /*    display:block;content:" ";
        float:right;width:0;height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 0 5px 5px;
        border-left-color:#cccccc;*/
    /*    margin-top:5px;margin-right:-10px;*/
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.navbar-default .navbar-nav>li>a.active{
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
}
.dropdown-menu>li>a.active{
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
}

/* Badge*/

.badge-primary {
    background-color: #2a7d4e !important;
}

.badge-default {
    background-color: #777 !important;
}

.badge-brand {
    background-color: #303990 !important;
}

.badge-danger {
    background-color: #9D1D16 !important;
}

.badge-warning {
    background-color: #C29B1C !important;
}


@media (max-width: 480px) {
    /* Styles */

    .captions-galeria{
        position: inherit;
        min-height: 50px;
        display: none;
    }

    .captions-galeria{
        position:fixed;
        display: none;
    }

}

@media (max-width: 991px) {
    .minifoto{
        display: none !important;
    }
}

.form-item{
    margin-bottom: 6px;
}

/* Badge Styles */
.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-error {
    background-color: #b94a48 !important;
}
.badge-error:hover {
    background-color: #953b39 !important;
}
.badge-warning {
    background-color: #f89406 !important;
}
.badge-warning:hover {
    background-color: #c67605 !important;
}
.badge-success {
    background-color: #2a7d4e !important;
}
.badge-success:hover {
    background-color: #356635 !important;
}
.badge-info {
    background-color: #194169 !important;
}
.badge-info:hover {
    background-color: #194169 !important;
}
.badge-inverse {
    background-color: #333333 !important;
}
.badge-inverse:hover {
    background-color: #1a1a1a !important;
}


/*********** CSS Bienestar Universitario 24-abr-2015 ****************/

/*** login form ***/
#bloque_banner_login{
    width: 260px;
    margin: 0 auto;
}
.img_login {
    float: left;
    padding-bottom: 10px;
}
.text_login {
    padding-top: 15px;
    font-size: 16px;
}
#btn_login{
    display: block;
    width: 70%;
    margin: 0 auto 20px auto;
}

@media (max-width: 1200px) and (min-width: 992px) {
    #bloque_banner_login {
        width: 220px;
    }
    .img_login {
        width: 120px;
    }
    .text_login {
        font-size: 14px;
        padding-top: 0px;
    }
}
/** fin login form **/

/** efecto hover de los banners del home, para imagenes de 248x160 **/
.hover-effect-1-image > img:first-child{
    display: block;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.hover-effect-1-image:hover > img:first-child{
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
.hover-effect-1 {
    display: block;
    text-align: left;
    width: 260px;
    margin: 0 auto;
}
.hover-effect-1-content {
    position: relative;
    padding: 5px 6px;
}
.hover-effect-1-image {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 10px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
    -moz-box-shadow: 0 6px 10px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
    box-shadow: 0 6px 10px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
}

.hover-effect-1-content:hover .jm-item-overlay {
    opacity: 0.3;
}
.hover-effect-1-button {
    position: relative;
    float: right;
    margin-top: 5px;
}
.hover-effect-1-button a {
    background: #fff;
    font-family: 'Oswald', sans-serif;
    color: #222;
    font-size: 1.2em;
    line-height: 30px;
    text-decoration: none !important;
    display: block;
    padding: 0 9px;
    border: 1px solid #222;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.hover-effect-1-button a:hover {
    background: #CCCCCC;
    border: 1px solid #000;
    color: #000;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.hover-effect-1 .hover-effect-1-content .jm-item-title {
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    transition: all 0.5s ease-in 0s;
}
.hover-effect-1-description div.description{
    font-size:1.2em;
    display: block;
    height: 100px;
    overflow: hidden;
}
.hover-effect-1 .hover-effect-1-content:hover .jm-item-title {
    left: -100%;
}
.hover-effect-1 .hover-effect-1-description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(16,118,68,0.95);
    color: #fff;
    bottom: 100%;
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}
.hover-effect-1 .hover-effect-1-content:hover .hover-effect-1-description {
    bottom: 0%;
}

/*** for tablets and 1200 resolution****/
@media (max-width: 1200px) and (min-width: 992px) {
    .hover-effect-1 {
        padding: 0px;
        width: 210px;
    }
    .hover-effect-1-description div.description {
        font-size: 1.0em;
        height: 80px;
    }
    .hover-effect-1-button a{
        font-size: 1.0em;
        line-height: 25px;
    }
}
/** fin efecto de los banners del home **/

/***** efectos de los banners de servicios, para imagenes de 250x200 *********/
.hover-effect-2 {
    padding: 0px;
    display: block;
    text-align: left;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.hover-effect-2-content {
    position: relative;
    padding: 0px;
    background: #E8D7B6;
}
.hover-effect-2-image {
    position: relative;
    overflow: hidden;
}
.hover-effect-2-image > img:first-child {
    display: block;
}

.hover-effect-2-image > img:first-child{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.hover-effect-2-image:hover > img:first-child{
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}

.hover-effect-2 .hover-effect-2-description h1.titulo_servicio a, .hover-effect-2 .hover-effect-2-description h1.titulo_servicio a:hover{
    color: #fff;
}

.hover-effect-2-button {
    position: relative;
    float: right;
    margin-top: 8px;
}
.hover-effect-2-button a {
    background: #fff;
    font-family: 'Oswald', sans-serif;
    color: #222;
    font-size: 1.2em;
    line-height: 30px;
    text-decoration: none !important;
    display: block;
    padding: 0 9px;
    border: 1px solid #222;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.hover-effect-2-button a:hover {
    background: #1C5233;
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.hover-effect-2 .hover-effect-2-content {
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}
.hover-effect-2 .hover-effect-2-description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0,0,0,0.4);
    color: #fff;
    top: 78%;
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}
.hover-effect-2 .hover-effect-2-content:hover .hover-effect-2-description {
    top: 0%;
}

.hover-effect-2 .hover-effect-2-description h1.titulo_servicio{
    margin-top: 10px;
}

.hover-effect-2 .hover-effect-2-description div.description-text {
    font-size: 1.2em;
    position: relative;
    height: 100px;
    overflow: hidden;
}

/*** for tablets and 1200 resolution****/
@media (max-width: 1200px) and (min-width: 992px) {
    .hover-effect-2 {
        padding: 0px;
        width: 200px;
    }
    .hover-effect-2 .hover-effect-2-description div.description-text {
        font-size: 1.0em;
        height: 84px;
    }
    .hover-effect-2 .hover-effect-2-description h1.titulo_servicio{
        font-size: 18px;
        margin-top: 8px;
    }
    .hover-effect-2 .hover-effect-2-description i.fa-3x{
        font-size: 2em;
    }
    .hover-effect-2-button a{
        font-size: 1.0em;
        line-height: 25px;
    }
}
/*** fin efectos de los banners de servicios *****/


/*** clasificados ***/

.img_clasificado_wrapper {
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: solid #fff 5px;
    left: -5px;
    background: #fff;
}
div.img_clasificado_wrapper a{
    position: relative;
    display: block;
    overflow: hidden;
}

div.img_clasificado_wrapper span.overlay{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0,0,0,0 );
    webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    z-index: 9;
}

div.img_clasificado_wrapper span.overlay i {
    position: absolute;
    left: 0;
    top: 120%;
    margin: -9px 0 0 0;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

div.img_clasificado_wrapper a:hover{
    color: #ffffff!important;
    text-decoration: none;
}
div.img_clasificado_wrapper a img{
    transition: all .5s ease-in-out;
}

div.img_clasificado_wrapper a:hover span.overlay {
    background: rgba( 0,0,0,0.6 );
    transition: all .5s ease-in-out;
}
div.img_clasificado_wrapper a:hover span.overlay i {
    top: 50%;
    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    transition: top 0.2s linear;
}
div.img_clasificado_wrapper a:hover img{
    transform: scale(1.5);
}


div.titulo_clasificado{
    margin-bottom: 10px;
}
div.titulo_clasificado a{
    font-size: 18px;
    font-family: Helvetica,Arial,sans-serif;
}

div.precio_clasificado{
    font-size: 16px;
    color: #333;
}
div.precio_clasificado{
    float:left;
    height:30px;
    line-height:30px;
    position:relative;

    margin-left:10px;
    padding:0 10px 0 12px;
    background:#107644;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(204,204,204,1);
    box-shadow: 5px 5px 10px 0px rgba(204,204,204,1);
}

div.precio_clasificado:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-15px;
    width:0;
    height:0;
    border-color:transparent #107644 transparent transparent;
    border-style:solid;
    border-width:15px 15px 15px 0;
}

div.precio_clasificado:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:8px;
    height:8px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #1D5635;
    -webkit-box-shadow:-1px -1px 2px #1D5635;
    box-shadow:-1px -1px 2px #1D5635;
}


span.etiqueta{
    font-weight: bold;
}

div.view-id-clasificados hr{
    border-top: 1px solid #ccc;
}

.view-clasificados .views-row-last{
    padding-bottom: 17px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    div.titulo_clasificado{
        margin-bottom: 5px;
    }
    div.titulo_clasificado a{
        font-size: 16px;
    }

    .img_clasificado_wrapper {
        border: solid #fff 2px;
    }

    div.precio_clasificado{
        font-size: 14px;
    }
}

/** fin clasificados **/

/*** foros ***/
.view-id-advanced_forum_topic_list{
    font-size: 14px;
}

.view-id-advanced_forum_topic_list .forum-node-create-links-top{
    display: none;
}

.view-id-advanced_forum_topic_list .forum-table-topics {
    position: relative;
    top: 10px;
    width: 100%;
}

.view-id-advanced_forum_topic_list .forum-table-topics td.views-field-topic-icon {
    width: 35px;
}

.view-id-advanced_forum_topic_list .forum-node-create-links {
    width: 100%;
}

.view-id-advanced_forum_topic_list .forum-tools {
    display: none;
}

.view-id-advanced_forum_topic_list .forum-table-topics td.views-field-title {
    padding: 10px 0;
    font-size: 12px;
}

.view-id-advanced_forum_topic_list .forum-table-topics td.views-field-title a:first-child{
    font-size: 16px;
    font-family: Helvetica,Arial,sans-serif;
}

.view-id-advanced_forum_topic_list .forum-table-topics .views-field-last-updated{
    font-size: 12px;
}

.forum-post .forum-post-wrapper .forum-post-panel-main {
    min-height: 100px;
}

.forum-post .forum-post-wrapper .forum-post-title{
    font-size: 14px;
}

/** fin foros **/

/***** calendario eventos por dia **********/
.calendar_wrapper{
    display:block;
    float:left;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    -webkit-box-shadow: 0 6px 10px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
    -moz-box-shadow: 0 6px 10px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
    box-shadow: 0 6px 10px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
}

.calendar_head{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #2a7d4e;
    padding-top: 2px;
    height: 26px;
}

.calendar_body{
    border-top: 0px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    text-align: center;
}

.num_dia_wrapper{
    font-size: 36px;
    line-height: 1.3em;
    height: 43px;
}

.dia_wrapper{
    width: 70px;
    text-align: center;
    margin: 0 auto;
    padding-top: 2px;
    border-top: 1px dotted #c3c3c3;
    height: 20px;
}
/**** fin calendario eventos por dia *******/

/********* fin CSS Bienestar Universitario **************/

.form-item-captcha-response .control-label{
    display: block;
}

.form-item-captcha-response{
    margin: 10px;
}